/*
Stuntman icons
<span> or <i> tags may be used here as a matter of preference

Usage - single icon (icon-helmet-k)
<span class="stunt icon-helmet-k"></span>

Usage - full color icon (icon-helmet)
Establish initial element class: stunt icon-helmet
Wrap paths 1-11 in initial
<span class="stunt icon-helmet">
 <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span>
</span>
*/
@font-face {
  font-family: 'stuntman';
  src: url('fonts/stuntman.eot?f220fe');
  src: url('fonts/stuntman.eot?f220fe#iefix') format('embedded-opentype'), url('fonts/stuntman.ttf?f220fe') format('truetype'), url('fonts/stuntman.woff?f220fe') format('woff'), url('fonts/stuntman.svg?f220fe#stuntman') format('svg');
  font-weight: normal;
  font-style: normal;
}
.stunt {
  font-family: 'stuntman';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-helmet-k:before {
  content: "\e80b";
}
.icon-helmet .path1:before {
  content: "\e800";
  color: #ffffff;
}
.icon-helmet .path2:before {
  content: "\e801";
  margin-left: -0.99511719em;
  color: firebrick;
}
.icon-helmet .path3:before {
  content: "\e802";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path4:before {
  content: "\e803";
  margin-left: -0.99511719em;
  color: darkblue;
}
.icon-helmet .path5:before {
  content: "\e804";
  margin-left: -0.99511719em;
  color: gray;
}
.icon-helmet .path6:before {
  content: "\e805";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path7:before {
  content: "\e806";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path8:before {
  content: "\e807";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path9:before {
  content: "\e808";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path10:before {
  content: "\e809";
  margin-left: -0.99511719em;
  color: #ffffff;
}
.icon-helmet .path11:before {
  content: "\e80a";
  margin-left: -0.99511719em;
  color: #000000;
}
.stuntman {
  font-family: sans-serif;
}
.stuntman.text-center {
  text-align: center;
}
.stuntman-widget {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  margin: 0 auto;
}
.stuntman-widget .stuntman-header {
  cursor: pointer;
  background: #ff5842;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 12px;
  opacity: .9;
}
.stuntman-widget .stuntman-header:before,
.stuntman-widget .stuntman-header:after {
  display: block;
  content: '';
  clear: both;
}
.stuntman-widget .stuntman-header h2,
.stuntman-widget .stuntman-body ul li .stuntman-item h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
}
.stuntman-widget .stuntman-header h2 a {
  color: #ffffff;
  text-decoration: none;
}
.stuntman-widget .stuntman-header:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -ms-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
}
.stuntman-widget .stuntman-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-height: 360px;
}
.stuntman-widget .stuntman-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #f2f2f2;
}
.stuntman-widget .stuntman-body ul li {
  position: relative;
  background: #ffffff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.stuntman-widget .stuntman-body ul li:before,
.stuntman-widget .stuntman-body ul li:after {
  display: block;
  content: '';
  clear: both;
}
.stuntman-widget .stuntman-body ul li:nth-child(2n) {
  background: #f2f2f2;
}
.stuntman-widget .stuntman-body ul li.stuntman-active {
  background: #99ffdb;
}
.stuntman-widget .stuntman-body ul li a {
  padding: 10px 16px;
  width: 100%;
}
.stuntman-widget .stuntman-body ul li .stuntman-item {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}
.stuntman-widget .stuntman-body ul li .stuntman-item h3 {
  display: block;
  margin-bottom: 5px;
  color: #808080;
}
.stuntman-widget .stuntman-body ul li .stuntman-item-active {
  background: green;
}
