# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 2 spaces as indentation
# Trim trailing whitespace
[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

# MSBuild files
[*.csproj]
indent_size = 2

# XML config files
[*.{msbuild,props,targets,ruleset,config,nuspec}]
indent_size = 2
