<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a class="scrollto" href="#promo">
        <span class="logo-title"><img src="images/stuntman-helmet.png" alt="Stunman" />Stuntman</span>
      </a>
    </h1><!-- /.logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!-- /.nav-toggle-->
      </div><!-- /.navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item sr-only"><a href="#promo">Home</a></li>
          <li class="nav-item"><a href="#about">About</a></li>
          <li class="nav-item"><a href="#get-started">Get Started</a></li>
          <li class="nav-item"><a href="#license">License</a></li>
        </ul><!-- /.nav-->
      </div><!-- /.navabr-collapse-->
    </nav><!-- /.main-nav-->
  </div>
</header><!-- /.header-->
