@media (max-width: 576px) {
  .promo {
    padding-top: 3.5em;
    .logo {display: none;}
    .intro {
      font-size: 1.8em;
    }
  }
  .btn-stuntman {
    width: 100%;
    margin-bottom: 1em;
  }
  .docs {
    .docs-inner {
      width: 100%;
    }
  }
  #top {display: none !important;}
  code {
  @include word-break();
      }

}

@media (max-width: 767px) {

  .header .main-nav button {
    margin-right: 0;
  }

header .main-nav button {
    background: none;
}

header .main-nav button .icon-bar {
  background-color: $blue !important;
}

  .header .main-nav .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo .title {
    font-size: 66px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .docs {
    .docs-inner {
      max-width: 95%;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
