.ui {
	.code {
		background: cornsilk;
		font-family: monospace;
		font-size: 120%;
	}
	.border {
		border: .7em solid lighten($text-color, 55%);
	}
	&h3 {
		color: lighten($text-color, 20%);
	}
	&.stripe.segment {
		background: $background-color;
		&.quote {
			padding: 0em;
			.grid {
				.column {
					padding: 4em 0;
				}
			}
		}
	}
	&.vertical.stripe {
		padding: 8em 0;
		h3 {
			font-size: 2em;
		}
		p {
			color: $text-color;
			font-family: $body-font;
			font-size: 1.33em;
			line-height: 1.7em;
			mark {
				background: transparent;
				color: $mark-color;
			}
			+ h3 {
				margin-top: 3em;
			}
		}
		.button + h3 {
			margin-top: 3em;
		}
		.floated.image {
			clear: both;
		}
		.horizontal.divider {
			margin: 3em 0;
		}
	}
	&.footer.segment {
		background: darken($mark-color, 30%);
		color: lighten($mark-color, 20%);
		line-height: 1.7em;
		font-family: $body-font;
		padding: 5em 0em;
	}
	&.hidden.menu,
	&.secondary.pointing.menu .toc.item {
		display: none;
	}
	&.top.inverted.fixed.menu {
		background: rgba($background-masthead, 0.9);
	}
}

@media (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu {
		.item {
			display: none;
			&.toc {
				display: block !important;
			}
		}
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
}
