
// inline
p ,
li {
  > code {
    background: $code-color;
    color: $code-text;
    font-size: 85%;
    padding: 0.1em 0.3em;
  }
}

// pad code blocks
pre {
  border: 1px solid lighten($text-color,50%);
  padding: 1em 2em;
  margin: 3em 0;
}
