// colors
$background-color:    white;
$background-masthead: #000c19;
$code-color:          cornsilk;
$code-text:           cornflowerblue;
$mark-color:          steelblue;
$text-color: 	        #555;

// fonts
$body-font: 		'Open sans';
$headline-font: 'Trocchi';
