@font-face {
  font-family: 'grand_hotelregular';
  src: url('grandhotel-regular-webfont.eot');
  src: url('grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('grandhotel-regular-webfont.woff2') format('woff2'),
  url('grandhotel-regular-webfont.woff') format('woff'),
  url('grandhotel-regular-webfont.ttf') format('truetype'),
  url('grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
