.stuntman-login-ui-container {
  text-align: center;
}
.stuntman-login-ui-container img {
  height: 75px;
  max-width: 100%;
}
.stuntman-login-ui-container li {
  list-style-type: none;
}
.stuntman-login-ui-container li a {
  padding: 20px;
}

/* Starting point for .stuntman-widget: http://codepen.io/andytran/pen/OPxVmq */
.stuntman-widget {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.stuntman-widget .stuntman-header {
  border-top-right-radius: 10px;
  cursor: pointer;
  background: #224058;
  padding: 0 15px 0 0;
  color: #f6f6f6;
  font-size: 12px;
  opacity: .9;
}
.stuntman-widget .stuntman-header:before,
.stuntman-widget .stuntman-header:after {
  display: block;
  content: '';
  clear: both;
}
.stuntman-widget .stuntman-header h2,
.stuntman-widget .stuntman-body ul li .stuntman-item h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
}
.stuntman-widget .stuntman-header h2 a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.stuntman-widget .stuntman-header:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -ms-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
}
.stuntman-widget .stuntman-header .stuntman-helmet {
  padding-right: 10px;
  vertical-align: middle;
}
.stuntman-widget .stuntman-header .stuntman-helmet-disabled {
  opacity: .5;
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
}
.stuntman-widget .stuntman-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-height: 360px;
}
.stuntman-widget .stuntman-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e9e9e9;
}
.stuntman-widget .stuntman-body ul li {
  position: relative;
  background: #f6f6f6;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.stuntman-widget .stuntman-body ul li:before,
.stuntman-widget .stuntman-body ul li:after {
  display: block;
  content: '';
  clear: both;
}
.stuntman-widget .stuntman-body ul li:nth-child(2n) {
  background: #e9e9e9;
}
.stuntman-widget .stuntman-body ul li:hover {
  background: #c4d8e8;
}
.stuntman-widget .stuntman-body ul li a {
  padding: 10px;
  width: 100%;
}
.stuntman-widget .stuntman-body ul li .stuntman-item {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}
.stuntman-widget .stuntman-body ul li .stuntman-item h3 {
  display: block;
  font-weight: normal;
  margin-bottom: 5px;
  color: #808080;
}
